@model IEnumerable<WebShopMvcUI.Models.Order>

@{
    ViewBag.Title = "Order List";
}

<h2>Order List</h2>

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>User ID</th>
            <th>Order Date</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.UserId</td>
                <td>@order.CreateDate.ToString("yyyy-MM-dd")</td>
                <td>@order.OrderStatus.StatusName</td>
                <td>
                    <a href="@Url.Action("EditOrderStatus", "Admin", new { id = order.Id })">Edit</a> |
                    <a href="@Url.Action("DeleteOrder", "Admin", new { id = order.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
